* {
    border-radius: 3px;
}

window {
    font-size: 22px;
    font-family: "Roboto Mono Medium";
    background-color: rgba(30, 30, 46, 0.96);
    color: white;
}

#outer-box {
    border: 1px solid;
    border-color: gray;
}

#entry {
    padding: 0.3em
}

#entry:selected {
    background-color: #bd93f9;
}

#text:selected {
    /* color: #44475a; */
    color: white;
}

#input {
    background-color: rgba(30, 30, 46, 0.9);
    color: white;
    padding: 0.4em;
    border: none;
}

image {
    margin-left: 0.25em;
    margin-right: 0.5em;
}
