@import url("colors.css");

#* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

window#waybar.hidden {
    /* Jag ser ingen skillnad i opacitet :/ */
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0 0px;
    margin-left: 0px;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

.modules-left, .modules-center, .modules-right {
    margin-bottom: 0px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-right: 6px;
    margin-left: 6px;
    background: @bg-color;
	color: @text-color;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @text-color;
    border-bottom: 3px solid transparent;
    padding-right: 9px;
}

#workspaces button.active {
    /* background: #CBA6F7; */
}

#network {
	padding-right: 6px;
	padding-left: 6px;
}

#custom-reboot, #custom-lock {
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

#idle_inhibitor {
	margin-left: 3px;
	padding-left: 3px;
	padding-right: 6px;
}

#custom-poweroff {
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 2px;
}

#custom-reboot, #custom-poweroff {
    font-size: 16; 
}

#window {
    padding-right: 6px;
}

#clock {
    margin-right: 6px;
}

#bluetooth {
    margin-right: 0px;
    padding-right: 0px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
