@import url("mocha.css");

#* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @mantle;
    color: white;
}

window#waybar.hidden {
    /* Jag ser ingen skillnad i opacitet :/ */
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0 0px;
    margin-left: 0px;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

.modules-left, .modules-right {
    margin-bottom: 0px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-right: 6px;
    margin-left: 6px;
    background: @base;
	color: @text;
}

/* #workspaces button { */
/*     padding: 0 5px; */
/*     background: transparent; */
/*     color: @lavender; */
/*     border-bottom: 3px solid transparent; */
/*     padding-right: 9px; */
/* } */

#workspaces button {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background: @base;
	color: @peach;
}

#network {
    color: @green;
	padding-right: 6px;
	padding-left: 6px;
}

#network.disconnected, #network.disabled {
    color: @red;
	padding-right: 6px;
	padding-left: 6px;
}

#custom-reboot, #custom-lock {
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

#custom-lock {
    color: @lavender;
}

#idle_inhibitor {
	margin-left: 3px;
	padding-left: 3px;
	padding-right: 6px;
}

#custom-poweroff {
	margin-left: 6px;
	padding-left: 6px;
	padding-right: 2px;
}

#custom-poweroff {
    color: @maroon;
    font-size: 16; 
}

#custom-reboot {
    color: @peach;
}

#custom-updates {
    color: @sapphire;
}

#custom-music {
    color: @teal;
}

#window {
    color: @text;
    padding-right: 0px;
}

#clock {
    color: @text;
    margin-right: 6px;
}

#bluetooth {
    color: @blue;
}

#battery {
    margin-left: 0px;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #A6E3A1;
}

#battery.critical:not(.charging) {
    background-color: #F38BA8;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
